<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <sectionGroup name="android">
        <section name="test-snapseed" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <section name="test-gallery" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </sectionGroup>
      <sectionGroup name="ios">
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="devices">
      <sectionGroup name="android">
        <section name="sony-xperia-5" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <section name="emulator-v11" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </sectionGroup>
      <sectionGroup name="ios">
      </sectionGroup>      
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="appiumUrl" value="http://localhost:4723/wd/hub/"/>
  </appSettings>

  <capabilities>
    <android>
      <test-snapseed>
        <add key="platformName" value="Android"/>
        <add key="noReset" value="true"/>
        <add key="automationName" value="uiautomator2"/>
        <add key="appPackage" value="com.niksoftware.snapseed"/>
        <add key="appActivity" value="com.google.android.apps.snapseed.activities.edit.MainActivity"/>
      </test-snapseed>
      <test-gallery>
        <add key="platformName" value="Android"/>
        <add key="noReset" value="false"/>
        <add key="automationName" value="uiautomator2"/>
        <add key="appPackage" value="com.android.gallery3d"/>
        <add key="appActivity" value="com.android.gallery3d.app.GalleryActivity"/>
      </test-gallery>
    </android>
    <ios>
    </ios>
  </capabilities>

  <devices>
    <android>
      <sony-xperia-5>
        <add key="deviceName" value="521184aef43f04ff"/>
        <add key="platformVersion" value="11.0"/>
      </sony-xperia-5>
      <emulator-v11>
        <add key="deviceName" value="emulator-5554"/>
        <add key="platformVersion" value="11.0"/>
      </emulator-v11>
    </android>
    <ios>
    </ios>
  </devices>
</configuration>
